<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="AzurePipeline" value="https://pkgs.dev.azure.com/simonheiss87/_packaging/Microwave/nuget/v3/index.json"/>
    </packageSources>
    <packageSourceCredentials>
        <AzurePipeline>
            <add key="Username" value="simonheiss87@gmail.com" />
            <add key="ClearTextPassword" value="45jvxxid5drkrqqixjny5g4nuwvli4zqqkr7g2m2rb5o4rp5bq5a" />
        </AzurePipeline>
    </packageSourceCredentials>
</configuration>