@page
@model Pages.IndexModel

<div>
    <h5 class="card-title">Seasons:</h5>
    <div class="list-group">
        @if (Model.AllSeasons.AllSeasons.Any())
        {
            @foreach (var season in Model.AllSeasons.AllSeasons)
             {
                 <a href="Seasons/@season.SeasonId" class="list-group-item list-group-item-action">
                     @season.SeasonName (@season.CreationDate)
                 </a>
             }
        }
        else
        {
             <h5 class="card-title">None</h5>
        }
    </div>
</div>
