@page "{playerId:Guid?}"
@model Pages.PlayerModel

<div class="my-2 my-lg-0 p-3 ml-auto">
    <h3>@Model.Player.Name (Lvl: @Model.Player.Level)</h3>
    <h3>SSP: @Model.Player.StarPlayerPoints</h3>
    @if (Model.Player.FreeSkillPoints.Any())
    {
        <div>
            Select a skill
        </div>
    }
 </div>